.foter-img img {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
  background-color: #3c352f;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer-logo img {
  width: 220px;
}
.footer-logo p {
  color: #e4dec1;
  font-size: 46px;
  font-weight: 700;
}
.footer-link {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #e4dec1;
  font-size: 20px;
}
.footer-link li {
  cursor: pointer;
}
.footer-socail-icon {
  display: flex;
  gap: 30px;
}
.footer-icon-container {
  padding: 10px;
  padding-bottom: 6px;
  background-color: #3c352f;
  border: 1px solid #ebebeb;
  box-shadow: 1px -1px -3px rgb(88, 65, 30);
  border-radius: 10px;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  margin-bottom: 50px;
  color: #e4dec1;
  font-size: 20px;
}
.footer-img img {
  max-width: 500px;
}
.footer-copyright hr {
  width: 80%;
  border: none;
  border-radius: 10px;
  height: 1px;
  background-color: rgb(103, 83, 53);
}
@media (max-width: 1240px) {
  .footer-img img {
    width: 600px;
  }
}
@media (max-width: 1080px) {
  .footer-img img {
    width: 420px;
  }
}
@media (max-width: 800px) {
  .footer {
    gap: 20px;
  }
  .footer-logo {
    gap: 10px;
    align-items: end;
  }
  .footer-logo p {
    font-size: 25 px;
  }
  .footer-link {
    font-size: 14px;
    gap: 10px;
  }
  .footer-socail-icon img {
    width: 22px;
  }
  .footer-img img {
    width: 250px;
  }
  .footer-copyright p {
    font-size: 13px;
  }
}
@media (max-width: 500px) {
  .footer {
    gap: 15px;
  }
  .footer-logo {
    gap: 7px;
    align-items: end;
  }
  .footer-logo p {
    font-size: 20px;
  }
  .footer-link {
    font-size: 12px;
    gap: 15px;
  }
  .footer-socail-icon img {
    width: 17px;
  }
  .footer-img img {
    width: 250px;
  }
  .footer-copyright p {
    font-size: 10px;
  }
}
